@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#060b25;
    width: 100%;
    background-image: url('/img/mainpage_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
h1,h2,h3,h4,h5,h6,a,Link,p,span{
    color: #fff;
}
.titlePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titlePage h4{
    color: #6f4efd;
    font-weight: 600;
    font-size: 30px;
}
.titlePage h1{
    font-weight: 800;
    font-size: 32px;
}