@media (min-width: 1400px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .content_hero{
    flex-direction: column;
  }
  .img_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .img_hero img{
    margin-left: 140px;
    width: 700px;
  }
  .caption_hero h1,.caption_hero p{
    text-align: center;
  }
  .bg_hero-content{
    margin-top: 40px;
  }
  .bg_hero-content span{
    font-size: 20px;
  }
  .boxes_content{
    margin: 47px;
  }
  .about{
    flex-direction: column;
  }
  .about .image_about{
    margin-left: 100px;

  }
  .about .image_about img{
    width: 100%;
  }
  .caption_about{
    width: 100%;
    margin-top: -14px;
  }
  .caption_about h1 , .caption_about p{
    width: 100%;
    text-align: center;
  }
  .link_about{
    margin: 20px auto;
  }
}

@media screen and (max-width: 992px) {
 
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    flex-direction: column;
    top: 90px;
    background-color: #6f4efd;
    width: 270px;
    margin-right: 130px;
    padding: 20px;
    border-radius: 7px;
    z-index: 1;
  }
  .menu li .menu_link.active {
    color: #fff;
  }
  .img_hero img{
    margin-left: 100px;
  }
  .Award{
    margin-right: 20rem;
  }
}

@media screen and (max-width: 576px) {
  .menu {
    position: fixed;
    flex-direction: column;
    top: 90px;
    background-color: #6f4efd;
    width: 270px;
    padding: 20px;
    border-radius: 7px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .img_hero img{
    margin-left: 85px;
  }
  .boxes_content{
    margin: 10px;
    width: 400px;
  }
  .about .image_about{
    margin-left: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
}

@media screen and (max-width: 410px) {
}

@media screen and (max-width: 350px) {
}
